<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

</head>
<body>
<form class="form-horizontal" role="form">
<div class="form-group">
<label for="name" class="col-md-4">Organisation Name</label>
<div class="col-md-8">
<input type="text" class="form-control" placeholder="Enter Organisation Name"></input>
</div>
</div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
</html>