<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />
<style>
#subbutton{margin-top:2%}
</style>
</head>
<body>
<form role="form-horizontal">
<div class="form-group">
<label for="name" class="col-md-4">Select Organisation</label>

<select class="form-control col-md-6">
{% for el in orgs %}
<option value ={{el}} >{{el }} </option>
{% endfor %}
</select>
</div>
<div class="form-group">
<label for="name" class="col-md-4">Financial Year</label>

<select class="form-control col-md-6">
<option  </option>
</select>
</div>
<div class="form-group">
<button type="submit" class="btn btn-default col-md-6" id="subbutton">Proceed </button>
</div>
</form>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
</html>