
<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

<style>
.content{ margin-top:4%
}
</style>
    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
    <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
  <script>
  
  $(document).ready(function(){
  
$("#show").load("{{tg.url('/info')}}");
  $("#existingorg").click(function(){
  $("#show").addClass("col-md-6")
$("#show").load("{{tg.url('/existingorg')}}");
  
  });
  return;
  });
</script>

</head>
<body>

  <div class="container">
  <div class="row content" >
    <div class="col-md-5">
    <button type=button class="btn btn-default"id="existingorg">Select Existing Organisation </button>
    </div>

    <div class="col-md-2">
      
    </div>

    <div class="col-md-5">
       <button type=button class="btn btn-default"id="neworg">Create New Organization </button>
    </div>
  </div>
  </div>
  <div class="raw content" >
  <div class="col-md-12" id="show">
  </div>
  </div>
  
  
  

  
  
  
 
  
  </body>
</html>

