<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />
<style>
#jumbocontent{text-align:center}
}
</style>
</head>
<body>

<div class="jumbotron">
<div class="container"id="jumbocontent">
<img src="images/finallogo1.png"></img>
<h1>Welcome To GNUKhata </h1>
<h2>A Free and Open Source Accounting Software</h2>
<h2>Features of GNUKhata</h2>
<h3>It is Lightweight </h3>
<h3>It is Scalable </h3>
<h3> It is Fast and Robust</h3>
<h3> It can be deployed for profit making and non profit Organisations</h3>

</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
</body>
</html>